<%- include('./partials/error_head.ejs') %>
<body>

    <section id="error">
        <p><%= data %></p>
        <a href="../#input">Go back</a>
    </section>

</body>
<%- include('./partials/footer.ejs') %>