* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #001220;
    color: white;
    font-family: system-ui;
}

.front {
    width: 100%;
    height: 500px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.front h1 {
    margin-top: -150px;
    font-size: 12rem;
}

.front a {
    display: block;
    font-size: 2.2rem;
    text-decoration: none;
    color: white;
    padding: 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
}

.front a:hover {
    box-shadow: 0px 0px 25px -1px rgba(232,151,178,1);
    transition: all 0.2s ease-in-out;
}



#input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    isolation: isolate;
    padding-block: 100px;
    font-size: 1.2rem;
}

#input h1 {
    font-size: 4rem;
}

#input::after {
    content: '';
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}

.inputs {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.labels {
    display: flex;
    gap: 10px;
    background-color: #001220;
    padding-block: 6px;
    padding-inline: 6px;
    border-radius: 50px;
}


input[type=radio] {
    display: none;
}



/* Stile generale per i label */
#artist-radio-label,
#song-radio-label {
    cursor: pointer;
    display: inline-block;
    padding-block: 8px;
    padding-inline: 15px;
    border-radius: 40px;
    transition: all 0.5s ease-in-out; /* Assicura che tutte le proprietà abbiano una transizione */
    background-image: none; /* Assicura che non ci sia un'immagine di sfondo predefinita */
}

/* Stile specifico per il label quando il radio input associato è selezionato */
#artist-search:checked ~ #artist-radio-label,
#song-search:checked ~ #song-radio-label {
    cursor: auto;
    color: white;
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
}

/* Applica la transizione solo per il background-image */
#artist-search:checked ~ #artist-radio-label {
    transition: background-image 0.5s ease-in-out 1s; /* Transizione solo per il background-image, con ritardo di 1 secondo */
}

#song-search:checked ~ #song-radio-label {
    transition: background-image 0.5s ease-in-out 1s; /* Transizione solo per il background-image, con ritardo di 1 secondo */
}




input[type=text] {
    width: 400px;
    height: 60px;
    font-size: 1.2rem;
    border-radius: 30px;
    padding-block: 10px;
    padding-inline: 30px;
    border: 0;
    background-color: #001220;
    color: white;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

form button {
    font-size: 0.8rem;
    border-radius: 30px;
    padding: 10px;
}

#hot-hits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 100px;
    padding-block: 100px;
    isolation: isolate;
}

#hot-hits h1 {
    font-size: 4rem;
}

#hot-hits::after {
    content: '';
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}

nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-inline: 70px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    background-color: rgba(0, 30, 53, 0.8);
    padding: 15px 10px;
    border-radius: 40px;
}

nav ul li a {
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
}

/* .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rank {
    height: 500px;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    /* margin: 0 10px; */
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    border: 0;
    /* box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8); */
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    background: linear-gradient(to top, black 30%, rgba(0, 0, 0, 0));
}

.card > .row > .icon {
    /* background: #223; */
    background: #52057B;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

.slide:checked + label {
    width: 400px;
    cursor: auto;
}

.slide:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    display: flex;
    margin-block: 100px;
    padding-block: 70px;
    isolation: isolate;
}

footer h1 {
    padding-bottom: 30px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer a {
    color: white;
}


footer::after {
    content: '';
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}
