* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #001220;
    color: white;
    font-family: system-ui;
}

nav {
    transform: skewY(-3deg);
    position: absolute;
    top: 25px;
    z-index: 1;
    width: 100%;
    padding-inline: 70px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    background-color: rgba(0, 30, 53, 0.8);
    padding: 15px 10px;
    border-radius: 40px;
}

nav ul li a {
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
}

.title {
    height: fit-content;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.title h1{
    font-size: 5rem;
}


#song-cards {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    isolation: isolate;
    
    padding-block: 100px;
}

#song-cards::after {
    content: '';
    background-image: linear-gradient(45deg, #12c29e, #c471ed, #f64f59);
    position: absolute;
    z-index: -2;
    inset: 0;
    transform: skewY(-3deg);
}

.song-info {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin-top: 20px;
}

a {
    color: white;
}

p {
    background-color: #001220;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

img {
    display: block;
    height: 100%;
    width: 500px;
    
    transform: skewY(-3deg);
}

.image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    isolation: isolate;
    font-size: 1.2rem;
    
    margin-top: -30px;
    padding: 70px 150px;
}

.image::after {
    content: '';
    background-color: #001220;
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-3deg);
}
